{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Connecté en tant que : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <h1 class="titre1" class="h3 mb-3 font-weight-normal">Log toi ici !!!</h1>

    <div class="container">
        <div class="row ">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
    <label for="inputPseudo">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
                <div>&nbsp;</div>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
                <div>&nbsp;</div>
                <div class="text-center">

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                    <div>&nbsp;</div>
                    <div class="logBtn" >
                    <button class="btn-wide btn-normal btnLog"  type="submit" >
                        Connexion
                    </button>
                        </div>

                </div>
    </div>
    <div class="col-md-4">

    </div>
    </div>
    </div>

</form>

{% endblock %}
{% block footer %}
{% endblock %}

