{% extends 'base.html.twig' %}



{% block body %}
    <div class="date">
        <div>
            <p><strong>Aujourd'hui, on est le : {{ "now"|date("d/m/Y") }}</strong></p>
        </div>
        <div>
            <p><strong>Connecté en tant que : {{ app.user.prenom }} {{ app.user.nom|slice(0,1) }}.</strong></p>
        </div>
    </div>
    <h2 class="titreFiltre ">Tu recherches une sortie ? </h2>
    <div class="form-label">
        <div class="container">
            <div class="row">

                <div class="col-md-1">

                </div>


                <div class="col-md-4 formIndex">


                    &nbsp;<div class="group">
                        {{ form_start(filterForm) }}

                        {{ form_label(filterForm.campus) }}

                        {% if filtre["campus"] is defined %}
                            {{ form_widget(filterForm.campus, {'value' : filtre["campus"] }) }}
                        {% else %}
                            {{ form_widget(filterForm.campus) }}
                        {% endif %}

                        {{ form_errors(filterForm.campus) }}

                    </div>
                    &nbsp;
                    <div class="group">
                        {{ form_label(filterForm.nom) }}

                        {% if filtre["nom"] is defined %}
                            {{ form_widget(filterForm.nom, {'value' : filtre["nom"] }) }}
                        {% else %}
                            {{ form_widget(filterForm.nom) }}
                        {% endif %}

                        {{ form_errors(filterForm.nom) }}
                    </div>
                    &nbsp;
                    <div class="group d-flex">
                        {{ form_label(filterForm.debut) }}
                        {% if filtre["debut"] is defined %}
                            {{ form_widget(filterForm.debut, {'value' : filtre["debut"] }) }}
                        {% else %}
                            {{ form_widget(filterForm.debut) }}
                        {% endif %}
                        {{ form_label(filterForm.fin) }}
                        {% if filtre["fin"] is defined %}
                            {{ form_widget(filterForm.fin, {'value' : filtre["fin"] }) }}
                        {% else %}
                            {{ form_widget(filterForm.fin) }}
                        {% endif %}
                    </div>
                </div>

                &nbsp;


                <div class="col-md-4 formCheck formIndex">
                    <div class="group">


                        <input type="checkbox"
                               name="{{ field_name(filterForm.monOrga) }}" {% if filtre["monOrga"] is defined %} checked {% endif %}>
                        {{ form_label(filterForm.monOrga) }}
                    </div>

                    <div class="group">

                        <input type="checkbox"
                               name="{{ field_name(filterForm.inscrit) }}" {% if filtre["inscrit"] is defined %} checked {% endif %}>
                        {{ form_label(filterForm.inscrit) }}
                    </div>

                    <div class="group">

                        <input type="checkbox"
                               name="{{ field_name(filterForm.nonInscrit) }}" {% if filtre["nonInscrit"] is defined %} checked {% endif %}>
                        {{ form_label(filterForm.nonInscrit) }}
                    </div>
                    <div class="group">

                        <input type="checkbox"
                               name="{{ field_name(filterForm.passee) }}" {% if filtre["passee"] is defined %} checked {% endif %}>
                        {{ form_label(filterForm.passee) }}
                    </div>
                    &nbsp;{{ form_end(filterForm) }}
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>

    </div>

    {% block stylesheets %}
        <style>

            @media (max-width: 1024px) {
                .column-3, .column-4, .column-5, .column-6, .column-7 {
                    display: none;
                }

            }

        </style>

    {% endblock %}


    <div class="wrapper">
        <div class="labels d-flex">
            <div class="label column-1">
                <span>Nom de la sortie</span>
            </div>
            <div class="label column-2">
                <span>Date de la sortie</span>
            </div>
            <div class="label column-3">
                <span>Clôture</span>
            </div>
            <div class="label column-4">
                <span>Inscrits/places</span>
            </div>
            <div class="label column-5">
                <span>Etat</span>
            </div>
            <div class="label column-6">
                <span>Inscrit</span>
            </div>
            <div class="label column-7">
                <span>Organisateur</span>
            </div>
            <div class="label column-8">
                <span>Actions</span>
            </div>
        </div>
        <div class="tabs">
            {% for sortie in sortieList %}
                {% if (sortie.etat.libelle == "En création" and sortie.organisateur.pseudo == app.user.pseudo) or (sortie.etat.libelle != "En création" and sortie.etat.libelle != "Archivée") %}
                    <div class="tab-row">
                        <div class="column-1">
                            <span>{{ sortie.nom }}</span>
                        </div>
                        <div class="column-2">
                            <span>{{ sortie.dateHeureDebut|date("d/m/Y H:i", "Europe/Paris") }}</span>
                        </div>
                        <div class="column-3">
                            <span>{{ sortie.dateLimiteInscription|date("d/m/Y", "Europe/Paris") }}</span>
                        </div>
                        <div class="column-4">
                            <span>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</span>
                        </div>
                        <div class="column-5">
                            <span>{{ sortie.etat }}</span>
                        </div>
                        <div class="column-6">
                                <span>
                                    {% if app.user in sortie.participants %}
                                        X
                                    {% endif %}
                                </span>
                        </div>
                        <div class="column-7">
                            <span><a href="{{ path('app_afficher_profil', {slug: sortie.organisateur.slug}) }}">{{ sortie.organisateur.pseudo }}</a></span>
                        </div>
                        <div class="column-8">
                            {% if sortie.etat.libelle == "En création" %}
                                <span><a href="{{ path('app_sortie_modification', {slug: sortie.slug}) }}">Modifier</a> - <a
                                            href="{{ path('app_sortie_publier', {slug: sortie.slug}) }}">Publier</a></span>
                            {% elseif sortie.etat.libelle == "Ouverte" %}
                                <span><a href="{{ path('app_afficher_sortie', {slug: sortie.slug}) }}">Afficher</a>
                                        {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                            - <a
                                                href="{{ path('app_annuler_sortie', {slug: sortie.slug}) }}">Annuler</a>
                                        {% elseif app.user in sortie.participants %}
                                            - <a href="{{ path('app_sortie_desinscrit', {slug: sortie.slug}) }}">Se désister</a>
                                        {% elseif sortie.participants|length < sortie.nbInscriptionMax %}
                                            {% if  app.user not in sortie.participants %}
                                                - <a href="{{ path('app_sortie_inscrit', {slug: sortie.slug}) }}">S'inscrire</a>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                            {% elseif sortie.etat.libelle == "Fermée" %}
                                <span>
                                        <a href="{{ path('app_afficher_sortie', {slug: sortie.slug}) }}">Afficher</a>
                                        {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                            - <a
                                                href="{{ path('app_annuler_sortie', {slug: sortie.slug}) }}">Annuler</a>
                                        {% elseif app.user in sortie.participants %}
                                            - <a href="{{ path('app_sortie_desinscrit', {slug: sortie.slug}) }}">Se désister</a>
                                        {% endif %}
                                    </span>
                            {% else %}
                                <span><a href="{{ path('app_afficher_sortie', {slug: sortie.slug}) }}">Afficher</a></span>
                            {% endif %}

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <a class="btn-wide btn-normal" href="{{ path('app_sortie_creation') }}">Créer une sortie</a>
    <div>&ensp;</div>

{% endblock %}
