{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            <p><strong>Date du jour : {{ "now"|date("m/d/Y") }}</strong></p>
        </div>
        <div>
            <p><strong>Participant : {{ app.user.prenom }} {{ app.user.nom|slice(0,1) }}.</strong></p>
        </div>
    </div>
    <div>
        <h2>Filtrer les sorties</h2>
        <form action="{{ path("app_home") }}">
            <input type="text" id="nom" name="nom">
            <button>Rechercher</button>
        </form>
        {% foreach sortie in sortieList %}
            <p>{{ sortie.nom }}</p>
        {% endfor %}
    </div>
{% endblock %}
