{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <div class="container l">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">


                <h1 class="titre1">Ajouter un participant</h1>


                <div>
                    {{ form_start(registrationForm) }}

                    <p>Pseudo :
                    <div>
                        {{ form_widget(registrationForm.pseudo) }}
                        {{ form_errors(registrationForm.pseudo) }}
                        </p>
                    </div>
                    <div>
                        <p>nom :
                            {{ form_widget(registrationForm.nom) }}
                            {{ form_errors(registrationForm.nom) }}
                        </p>
                    </div>
                    <div>
                        <p>Prenom :
                            {{ form_widget(registrationForm.prenom) }}
                            {{ form_errors(registrationForm.prenom) }}
                        </p>
                    </div>
                    <div>
                        <p>email :
                            {{ form_widget(registrationForm.email) }}
                            {{ form_errors(registrationForm.email) }}
                        </p>
                    </div>
                    <div>
                        <p>telephone :
                            {{ form_widget(registrationForm.telephone) }}
                            {{ form_errors(registrationForm.telephone) }}
                        </p>
                    </div>
                    <div>
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}</div>
                    {{ form_end(registrationForm) }}
                    <div class="annulSortiebtn">
                        <button type="submit" class="btn-wide btn-normal">Register</button>
                    </div>

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
