{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

                <h1 class="h1profil">Mon profil</h1>
                {{ form_start(MonProfilForm) }}


{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.pseudo) }}#}
{#                </div>#}


{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.prenom) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.nom) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.telephone) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.email) }}#}
{#                </div>#}


{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.password.first) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.password.second) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.estRattacherA) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
{#                    {{ form_row(MonProfilForm.photo) }}#}
{#                </div>#}

{#                <div class="form-group col-md-12">#}
                    <button class="btn" value="Enregistrer">Enregistrer</button>
{#                    <a href="{{ path('app_home') }}" class="btn">Annuler</a>#}
{#                </div>#}
                    {{ form_end(MonProfilForm) }}


            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>









{% endblock %}
