{% extends 'base.html.twig' %}

{% block title %}Gerer les campus{% endblock %}

{% block body %}


<h1 class="titre1">Gérer les campus</h1>


    <div class="container">
        <div class="row">
            <div class="col-md-4">

    {{ form_start(rechercheForm) }}

    <div class="groupCampus">
        <label for="{{ field_name(rechercheForm.recherche) }}">Recherche campus</label>
        <input type="text"
               id="{{ field_name(rechercheForm.recherche)}}"
               name="{{ field_name(rechercheForm.recherche) }}"
               value="{{ field_value(rechercheForm.recherche) }}"
               class="form-control">
               </div>
                <div class="col-md-4"></div>
        </div>
    </div>

    {{ form_end(rechercheForm) }}


<table class="table">
    <caption>Liste des campus</caption>
    <thead>
    <tr>
        <th></th>
        <th>Nom du campus</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for campus in campus %}
        <tr>
            <td></td>
            <td>{{ campus.nom }}</td>
            <td>


                <a><form method="post" action="{{ path('app_campus_edit', {slug: campus.slug}) }}">
                        <button class="btn">Editer</button>
                    </form>
                <form method="post" action="{{ path('app_campus_delete', {slug: campus.slug}) }}" onsubmit="return confirm('Confirmez vous la suppression?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
                    <button class="btn">Supprimer</button>
                </form></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Pas de résultat</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


    <div class="ajout">

        <a><form method="post" action="{{ path('app_campus_new') }}">
                <button class="btn-wide btn-normal">Ajouter un campus</button>
            </form></a>

    </div>







{% endblock %}