{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}


{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
         <h1 class="titre1">Modifier une sortie</h1>

                                                <!-- FORM -->
        <div>
            <div>
                {{ form_start(updateForm) }}
                <div>
                    <label>Nom de la sortie : </label>
                        <p>
                            {{ form_widget(updateForm.nom) }}
                            {{ form_errors(updateForm.nom) }}
                        </p>

                </div>
                <div class="">
                    <p> Date et heure du début de la sortie :
                        {{ form_widget(updateForm.dateHeureDebut) }}
                        {{ form_errors(updateForm.dateHeureDebut) }}
                    </p>
                </div>
                <div>
                    <p>Date limite d'inscription :
                        {{ form_widget(updateForm.dateLimiteInscription) }}
                        {{ form_errors(updateForm.dateLimiteInscription) }}
                    </p>
                </div>
                <div>
                    <p>Nombre de places :
                        {{ form_widget(updateForm.nbInscriptionMax) }}
                        {{ form_errors(updateForm.nbInscriptionMax) }}
                    </p>
                </div>
                <div>
                    <p>Durée :
                        {{ form_widget(updateForm.duree) }}
                        {{ form_errors(updateForm.duree) }}
                    </p>
                </div>

                <div>
                    <p>Description et infos  :
                        {{ form_widget(updateForm.description) }}
                        {{ form_errors(updateForm.description) }}
                    </p>
                </div>
                <div>
                    <p>Lieu :
                        {{ form_widget(updateForm.lieu) }}
                        {{ form_errors(updateForm.lieu) }}
                    </p>
                </div>
            </div>
                                               <!-- BUTTON -->


                <button name="save"  value="save" class="btn-wide btn-normal center">Enregistrer</button>
                <button name="publish" value="publish" class="btn-wide btn-normal center">Publier la sortie</button>


            </div>

            {{ form_end(updateForm) }}

            <div>
                <a class="btn-wide btn-normal center" href="{{ path('app_sortie_supprimer', {'slug' : sortie.slug}) }}">
                    Supprimer la sortie
                </a>
            </div>
            <div>
                <a class="btn-wide btn-normal center" href="{{ path("app_home") }}">
                    Annuler
                </a>
            </div>


    </div>
{% endblock %}
